*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
*.stackdump
*.ini
*.log
*.tmp
*.temp
*.pyc
*.dmg
*.app
*.idea
*.iml
*.egg-info

sdist/
dist/
log/ 
logs/ 
tmp/
temp/
build/

Makefile.in
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/

.DS_Store
.AppleDouble
.LSOverride

._*

.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

Thumbs.db


